<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Candidate details</h3>
    <form action = "/Entry" method = "post">
        Gender:
        <input type = "text" name="Gender"> <br> <br>
        Married:
        <input type = "text" name="Married_Status"> <br> <br>
        Denpendents:
        <input type="text" name="Dependents"> <br> <br>
        Education:
        <input type="text" name="Education"> <br> <br>
        Self_Employed:
        <input type="text" name="Self_Emp"> <br> <br>
        Applicant_Income:
        <input type="text" name="Applicant Income"> <br> <br>
        CoApplicant_Income:
        <input type="text" name = "CoApplicant_Income"> <br> <br>
        Loan_Amount:
        <input type="text" name="Loan_Amount"> <br> <br>
        Loan_Amount_Term:
        <input type="text" name = "Loan_Amount_Term"> <br> <br>
        Credit_history:
        <input type="text" name = "Credit_history"> <br> <br>
        Property_Area:
        <input type="text" name = "Property_Area"> <br> <br>

        <input type="submit" name ="Validate and Submit"> <br> <br>
    </form>

    {{prediction}}

</body>


</html>